normalize-css()

// Material Shadows
shadow-level(l = 1)
    if l == -1
        box-shadow: inset -2px 7px 9px -7px rgba(0,0,0,0.7);
    if l == 0
        box-shadow: none;
    if l == 1
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    if l == 2
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    if l == 3
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    if l == 4
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    if l == 5
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

// Common Transition
trans($sec = 0.3s)
    transition: all $sec ease
// Grid
$xsmall = 340px
$small = 500px
$med = 700px
$large = 960px
$wide = 1200px

// Colors
black = #222
grey = #D8D8D8
light-grey = #EEE
purp = #524763
dark-purp = #373142
red = #E54B4B
teal = #82D8D8
dark-teal = #66A6A6
green = #CBE56C
blue = #16528E
bright-blue = #0082C8
maroon = #6A2140
light-red = #CA5765
pink = #CF256D
orange = #E8846B

z = {
    neg: -7,
    lowest: 1,
    low: 4,
    mid: 5,
    video: 6,
    header: 7,
    nav: 8,
    mini: 9,
    modal: 10,
    highest: 11
}

social = {
    twitter: #00aced,
    facebook: #3b5998,
    google: #dd4b39,
    youtube: #bb0000
}

$side-nav = 100px
$side-nav-large = 200px

html
    box-sizing: border-box

*, *:before, *:after
    box-sizing: inherit

body
    background light-grey
    padding 60px 0 0 0
    font-family: 'Open Sans Condensed', sans-serifs

header
    color #FFF
    background: purp
    padding 20px 5%
    fixed top left
    width 100%
    height 70px
    z-index: z.header
    shadow-level(2)
    clearfix()
    h2
        margin 0
        font-weight 100
        font-size 1.6em
        float left
    nav
        float right
        a
            trans()
            color: #FFF
            text-decoration: none
            line-height: 36px
            font-size: 1.2em
            border-bottom 4px solid transparent
            + a
                margin-left: 15px
                text-decoration none
            &:hover
                border-color teal
                text-decoration none
            &:visited
              text-decoration none
              color: #FFF
            &:active
              text-decoration none

p
    color #333

//stuff for the tabs on profile pages
ul.tab
  list-style-type: none
  margin 0
  padding 0
  overflow hidden
  border 1px solid #ccc
  background-color #f1f1f1

ul.tab li
  float left

ul.tab li a
  display inline-block
  color black
  text-align center
  padding 14px 16px
  text-decoration none
  transition 0.3s
  font-size 17px

ul.tab li a:hover
  background-color #ddd

ul.tab li a:focus, .active
  background-color #ccc

.block

.tabcontent
  display none
  padding-left 5%
  padding-right 5%
  height 100%
  padding 6px 12px
  border 1px solid #ccc
  border-top none

.logo-text
  color: white;
  font-size: 24px;
  border: none;

.logo-text:hover
  color: #999
  transform translate3d(10px, 0, 50px)
  border-bottom: none !important
  outline: none;

.logo-text:visited
  color: white;
  border:none;

.logo-text:visited:hover
  color:#999

.logo-text:active
  border:none

.profileTitle
  text-align center

//stuff for the sidenav on the profile-home page
.stockPicker
  margin-top 0
  height 100%
  width 0
  position fixed
  z-index 1
  top 0
  left 0
  background-color #111
  overflow-x hidden
  padding-top 100px
  transition 0.5s


.stockPicker li
  padding 8px 8px 8px 8px
  text-decoration none
  font-size 25px
  color #818181
  display block
  transition 0.3s

.stockPicker h2
  margin-top 0
  margin-left 10px

.stockPicker li:hover
  color #f1f1f1
  cursor pointer

.stockPicker span
  display inline-block

.stockPicker .closebtn
  position inherit
  font-size 36px
  margin-top -30px
  margin-left -30px
  transition 0.5s

.profile
  text-align center
  padding 0px 20px 20px 20px
  transition margin-left 0.3s

.profileInfo
  border-bottom: 1px solid #BBB

.market
  text-align: center

.loggedInNav
  margin-right: 5%

.landing
  margin 0 0 0 0
  padding 0 0 0 0
  text-align center
/*
.landingHeader
  color: white
  background url('../images/header.jpg') no-repeat center center fixed
  opacity 0.9
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  padding-top 8%
  padding-bottom 10%
*/
.colText
  padding-top 25%
  transform translateY(-50%)

.row1
  background grey
  padding 10% 0 10% 0

.row2
  padding 10% 0 10% 0

.row3
  background grey
  padding 10% 0 10% 0

.about
  text-align center
  margin 10% 10% 10% 10%

  p
    margin 10% 0 0 0
.page-title
    text-transform uppercase
    font-weight 800
    margin-bottom 30px

.main-layout
    margin-top 20px
    +above($large)
        margin-top 40px

.btn, button
    cursor pointer
    background purp
    color #FFF
    text-decoration none
    padding 5px 15px
    border solid 3px purp
    border-radius 2px
    font-weight 800
    margin-bottom 25px
    shadow-level(1)
    trans()
    &:hover
        background @background + 50
        border-color @background
        shadow-level(2)
    &.btn-primary
        background teal
        border-color teal
        color dark-purp
        &:hover
            background @background - 40
            border-color @background
    &.btn-deny
        background red
        border solid 3px @background
        &:hover
            background @background - 20
            border-color @background
    &.btn-text
        color purp
        background transparent
        border solid 2px purp
        shadow-level(0)
        &:hover
            background teal
            border-color @background
            shadow-level(1)
    &.btn-text-dark
        color #FFF
        background transparent
        border solid 2px #FFF
        shadow-level(0)
        &:hover
            background #FFF
            color dark-purp
            border-color @background
            shadow-level(1)
    &.btn-confirmation
        color black
        background green
        border solid 2px @background
        &:hover
            background @background - 20
            border-color dark-purp
    &.btn-cancel
        color #FFF
        background transparent
        border solid 2px #FFF
        opacity 0.4
        shadow-level(-1)
        &:hover
            background red
            color #FFF
            opacity 1
            shadow-level(2)
            border-color @background

input, select, textarea
    color purp
    background #FFF
    border solid 2px light-grey
    border-radius 2px
    font-weight 800
    padding 6px 10px
    margin-bottom 10px

input::-webkit-input-placeholder
    color: #ddd
input:-moz-placeholder
    color: #ddd
input::-moz-placeholder
    color: #ddd
input:-ms-input-placeholder
    color: #ddd

.panel-body
    .form-group
        lost-column 1/2

.side-nav
    fixed bottom left
    height 100px
    width 100%
    overflow hidden
    background dark-purp
    color #FFF
    z-index: z.header
    shadow-level(2)
    ul
        margin 0
        padding 0
        display flex
        justify-content space-between
        list-style none
    a
        color #FFF
        text-decoration none
        padding 20px 20px
        display block
        text-align center
        trans()
        &:hover, &.active
            background purp
    i
        display block
        font-size 2em
        margin-bottom 10px
    +above($med)
        height 100%
        z-index: z.mid
        padding 120px 0
        fixed top left
        width $side-nav
        ul
            display block
        shadow-level(-1)
        a
            padding 20px 10px
            &:hover, &.active
                border-left 4px solid teal
    +above($large)
        width $side-nav-large
        a
            padding 20px 20px
            &:hover, &.active
                border-left 10px solid teal

#login-dropdown-list
    right -1px
    left auto

#login-sign-in-link, #login-name-link
    margin-left: 30px

@keyframes complete
    0%
        opacity 0
        transform translate3d(0,-30px,0)
    100%
        opacity 1
        transform translate3d(0, 0,0)

@keyframes slideIn
    0%
        opacity 0
        transform translate3d(-50px, 0, 0)
    100%
        opacity 1
        transform translate3d(0, 0, 0)

@keyframes slideOut
    0%
        opacity 1
        transform translate3d(0, 0, 0)
    100%
        opacity 0
        transform translate3d(50px, 0, 0)

@keyframes slideUp
    0%
        opacity 0
        transform translate3d(0, 60px, 0)
    100%
        opacity 1
        transform translate3d(0, 0, 0)

.route-enter, .route-appear
    opacity: 0
    animation: slideIn 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)

.route-leave
    animation: slideOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1)
    opacity: 1.0

.route-appear
    opacity: 0
    animation: slideUp 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
